Flask
yt-dlp
pytube
requests
BeautifulSoup4
qrcode
stripe
paypalrestsdk
Werkzeug
Flask-WTF
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
WTForms
gunicorn
python-dotenv
python-slugify
Authlib
Flask-Mail
email-validator