{% extends "base.html" %}

{% block gtm_head %}
<!-- Google Tag Manager --> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
})(window,document,'script','dataLayer','GTM-T4XXDW5T');</script> 
<!-- End Google Tag Manager -->
{% endblock %}

{% block gtm_body %}
<!-- Google Tag Manager (noscript) --> 
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4XXDW5T" 
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block title %}{{ post.title }} - Viddy Downloader{% endblock %}

{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('blog.blog_index') }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>
    
    <article>
        <h1 class="mb-3">{{ post.title }}</h1>
        <p class="text-muted">
            <small>Published on {{ post.created_at.strftime('%B %d, %Y') }} by {{ post.author.username }} | {{ post.views }} views</small>
        </p>

        {% include 'partials/ads_inarticle.html' %}
        
        {% if post.featured_image %}
        <img src="{{ post.featured_image }}" class="img-fluid mb-4" alt="{{ post.title }}">
        {% endif %}
        
        <div class="blog-content">
            {{ post.content|safe }}
        </div>
    </article>
</div>
{% endblock %}
